<div class="ngw-screen">
  <div class="side-bar--countainer">
    <div class="ngw-header">
      <button mat-icon-button class="ngw-side-bar--close-btn" (click)="onCloseMenuClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>
        NG-
        <strong>WIZARD</strong>
        <small> 0.1</small>
      </h1>
      <h4>
        POWERFUL WIZARD PACKAGE FOR ANGULAR
      </h4>
    </div>
    <div class="ngw-body">
      <!-- <mat-accordion multi="true">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Navigation bar
              </mat-panel-title>
            </mat-expansion-panel-header> -->
      <mat-list>
        <mat-list-item>
          <mat-checkbox [(ngModel)]='visibility' (click)="refreshWizardConfig('visibility')">
            Remove Navigation Bar
          </mat-checkbox>
        </mat-list-item>
        <h3 mat-subheader>Display</h3>
        <mat-list-item>
          <mat-checkbox>
            Bullet
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>
            Number
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>
            Icon
          </mat-checkbox>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>style</h3>
        <mat-list-item>
          <mat-checkbox>
            Outlined
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>
            Filled
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>
            Two-Tone
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>
            Sharp
          </mat-checkbox>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Features</h3>
        <mat-list-item>
          <mat-checkbox>
            Right to Left
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>
            Fast Forward
          </mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox disabled="true">
            Infinit Steps
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
      <!-- </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion> -->
    </div>
  </div>
  <div class="mat-card--countainer">
    <mat-card class="ngw-card">
      <ng-wizard #ngWizard fastForward="true">
        <ng-wizard-step title="1st" route="first">
          <p class="mat-body-1">
            Hello, welcome to the superhero world. Pick up your superpowers and press the next button.
          </p>
          <mat-list>
            <mat-list-item>
              <mat-checkbox class="mat-body-1">
                Flight
              </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox class="mat-body-1">
                Invisibility
              </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox class="mat-body-1">
                Super Speed
              </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox class="mat-body-1">
                Size Shifting
              </mat-checkbox>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox class="mat-body-1">
                Mind Control
              </mat-checkbox>
            </mat-list-item>
          </mat-list>
          <button mat-flat-button style="float: right;" (click)="onFirstStepNextClick()">Next</button>
        </ng-wizard-step>
        <ng-wizard-step title="2nd" route="second">
          <p class="mat-body-1">
            It seems like now you are strong enough to save the world. please leave your name and your email, we will contact you if
            Godzilla attacked or something bad happened.
          </p>
          <form style="height: calc(100% - 124px);">
            <mat-form-field class="full-width">
              <input matInput placeholder="Your Name">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Your Email">
            </mat-form-field>
          </form>
          <button style="float: right;" (click)="onFirstStepNextClick()" mat-flat-button>Next</button>
          <button style="float: right;" (click)="onBackClick()" mat-button>Back</button>
        </ng-wizard-step>
        <ng-wizard-step title="3rd" route="third">
          <p class="mat-body-1">
            Thanks a lot that you shared your superpowers and your information with us we will contact you soon.
          </p>
        </ng-wizard-step>
      </ng-wizard>
    </mat-card>
  </div>
  <button mat-fab class="ngw-nav--button" (click)="onOpenMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
</div>
