<div class="ngw-screen">
  <div class="side-bar--countainer">
    <div class="ngw-header">
      <h1>
        NG-<strong>WIZARD</strong><small>   0.1</small>
      </h1>
      <h4>
        POWERFUL WIZARD PACKAGE FOR ANGULAR
      </h4>
    </div>
  </div>
  <div class="mat-card--countainer">
    <mat-card class="ngw-card">
      <ng-wizard>
        <ng-wizard-step>
          step 1
        </ng-wizard-step>
        <ng-wizard-step>
          step 2
        </ng-wizard-step>
        <ng-wizard-step>
          step 3
        </ng-wizard-step>
        <ng-wizard-step>
          step 4
        </ng-wizard-step>
      </ng-wizard>
    </mat-card>
  </div>
</div>
