.ngw-card {
  width: 400px;
  margin: auto;
}

.example-header-image {
  background-size: cover;
}

.side-bar--countainer {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow-y: scroll;
  width: 30%;
  display: inline-block;
  -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.ngw-header {
  padding: 12px;
  background-color: #3f51b5;
  background: linear-gradient(to right, #29B6F6, #3f51b5);
  /* background: linear-gradient(to right, #76FF03, #64DD17); */
  color: #ffffff;
  h1,
  h4 {
    font-weight: 300;
  }
}

.ngw-side-bar--close-btn {
  display: none;
  float: right;
}

.ngw-body {
  width: 100%;
  background-color: #ffffff;
}

.mat-card--countainer {
  width: 70%;
  display: inline-flex;
  background-color: rgb(250, 250, 250)
}

.ngw-nav--button {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .ngw-card {
    width: 100%;
    margin: 0px;
  }
  .side-bar--countainer {
    left: -110%;
    position: fixed;
    width: 100%;
    z-index: 4;
  }
  .mat-card--countainer {
    width: 100%;
  }
  .ngw-nav--button {
    display: block;
  }
  .ngw-side-bar--close-btn {
    display: block;
  }
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
