.ngw-wizard--countainer {
  overflow: hidden;
}

.ngw-wizard--header {
  height: 34px;
  position: relative;
  margin-bottom: 32px;
}

.ngw-circle--countainer {
  z-index: 3;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.ngw-wizard--body {}

.ngw-wizard--footer {}

.ngw-circle-nd-line--countainer {
  position: relative;
}

.ngw-circle {
  transition: .4s color;
  display: inline-block;
  background-color: #ffffff;
  color: #bbbbbb;
  border: 2px solid;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
}

.ngw-line {
  z-index: 1;
  position: absolute;
  display: inline-block;
  color: #bbbbbb;
  top: 50%;
  width: calc(100% - 4px);
  border: 1px solid;
}

.ngw-line-progress {
  transition: .4s width;
  z-index: 2;
  position: absolute;
  display: inline-block;
  color: #bbbbbb;
  top: 50%;
  border: 1px solid;
  color: #64DD17;
}

.ng-wizard-step--countainer {
  display: flex;
  justify-content: space-between;
}

.ngw-step--title {
  display: block;
  color: #aaaaaa;
  text-align: center;
  padding-top: 6px;
}

.active {
  color: #64DD17;
}

.current {
  color: #76FF03;
}

.warning {
  color: #FFEB3B
}

.error {
  color: #f44336;
}

error {}
