<div class="ngw-wizard--countainer">
  <div class="ngw-wizard--header ">
    <div *ngIf="wizardStepList" class="ngw-circle--countainer">
      <span *ngFor="let wizardStep of wizardStepList; let i = index" [ngClass]="
      i < currentStepNumber ? 'active' : i === currentStepNumber ? 'current' : ''
      " class="ngw-circle">
        {{i + 1}}
      </span>
    </div>
    <div class="ngw-line"></div>
    <div class="ngw-line-progress" [style.width.%]="currentStepNumber * (100 / (wizardStepList.length - 1))"></div>
  </div>
  <div class="ngw-wizard--body" #contentWrapper>
    <div class="ng-wizard-step--countainer" [style.width.%]="wizardStepList.length * 100">
      <ng-content select="ng-wizard-step">
        
      </ng-content>
    </div>
  </div>
  <div class="ngw-wizard--footer">
    <button (click)="nextStep()">Next</button>
    <button (click)="previousStep()">back</button>
  </div>
</div>
