/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
  padding: 0;
  margin: 0;
}

.ngw-screen {
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.cursor-pointer {
  cursor: pointer!important;
}

/* overrides */
.mat-expansion-panel-spacing {
  margin: 0!important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none!important;
}